<template name="artWorkForm">
	<form id="artwork_form">
		<p>
			<label>Title</label>
			<input id='1' name='title' type='text' size='30'/>
		</p>
		<p>
			<label>Author</label>
			<input id='2' name='author' type='text' size='30'/>
		</p>
		<p>
			<label>Art Movement</label>
			<input id='3' name='movement' type='text' size='30'/>
		</p>
		<p>
			<label>Element</label>
			<input id='4' name='element' type='text' size='30'/>
		</p>
		<p>
			<label>Image</label>
			<input id='5' name='image' type='file' accept='image/*'	/>
		</p>
		<p>
			<input type='submit'/>
		</p>
	</form>
</template>